# Pergunta 17

### Qual o top 5 cursos mais concorridos? Em quais faculdades a concorrência por esses cursos é maior?

In [53]:
import pandas as pd

In [40]:
curso_column = ["CO_CINE_ROTULO", "QT_INSCRITO_TOTAL", "QT_VAGA_TOTAL"]
curso = pd.read_csv(r"C:\Users\arthu\Desktop\TpDados\Curso.csv", index_col=False, header=0, usecols=curso_column)

In [45]:
cine_column = ["CO_CINE_ROTULO", "NO_CINE_ROTULO"]
cine = pd.read_csv(r"C:\Users\arthu\Desktop\TpDados\CINE.csv", sep ='|', encoding="cp860", index_col=False, header=0, usecols=cine_column)

In [50]:
curso = curso.merge(cine, on="CO_CINE_ROTULO", how='left')

In [51]:
curso = curso.groupby("NO_CINE_ROTULO").sum()

curso["CONCORRENCIA"] = curso["QT_INSCRITO_TOTAL"] / curso["QT_VAGA_TOTAL"]

In [52]:
grouped_curso = curso.sort_values(by="CONCORRENCIA", ascending=False)

grouped_curso.head(5)

,QT_VAGA_TOTAL,QT_INSCRITO_TOTAL,CONCORRENCIA
NO_CINE_ROTULO,,,
Medicina,47539,1075264,22.618566
Engenharia aeroespacial,257,4513,17.560311
CiΩncias militares,629,9903,15.744038
Letras portuguΩs lφngua brasileira de sinais,89,896,10.067416
Estradas,217,2104,9.695853